@page
@model IndexModel
@{
    ViewData["Title"] = "Vanh Book";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Vanh Book</h1>
    
</div>


<div class="card-columns">
    @foreach (var product in Model.Products)
    {
        <div class="card">
            <div class="card-img"  style="background-image: url('@product.Image'); height:300px; width: 300px" >
            </div>
            <div class="card-body">
                <h5 class="card-title">@product.Name</h5>
                <p> @product.Price</p>
            </div>
           
        </div>
    }
</div>

